.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 20px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
}

.card__like-btn {
  background-image: url("../images/heart.svg");
  height: 20px;
  width: 23px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  opacity: 40%;
  cursor: pointer;
  transition: opacity 0.5s;
}

.card__like-btn:hover {
  opacity: 1;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 288px;
    margin: 0 0 12px;
  }

  .card__title {
    font-size: 16px;
    max-width: 250px;
    line-height: normal;
  }
}
