.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar-container {
  position: relative;
  margin-right: 20px;
  height: 190px;
}

.profile__avatar-container:hover .profile__avatar-btn {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.3s ease, visibility 0s 0s;
  background-color: rgba(0, 0, 0, 0.5);
}

.profile__avatar {
  height: 190px;
  width: 190px;
  object-fit: cover;
  border-radius: 8px;
}

.profile__avatar-btn {
  position: absolute;
  display: flex;
  gap: 8px;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s 0.3s;
  border: none;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5); /* Make sure background is visible */
  padding-bottom: 12px;
  cursor: pointer;
}

.profile__avatar-btn::after {
  content: "Edit Avatar";
  color: #fff;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  color: rgba(33, 33, 33, 0.7);
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  margin-top: auto;
  border: none;
  background-color: #fcf5e5;
  display: flex;
  gap: 12px;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  color: #212121;
  opacity: 0.7;
  transition: opacity 0.5s;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__add-btn {
  margin-left: auto;
  background-color: #212121;
  color: #fff;
  border-radius: 8px;
  height: 52px;
  width: 149px;
  margin-top: auto;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.5s;
}

.profile__add-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar-container {
    height: 104.35px;
    position: relative;
    margin-right: 0px;
  }

  .profile__avatar {
    margin-right: 0;
    height: 80px;
    width: 80px;
    margin: 0 0 12px;
  }

  .profile__avatar-btn {
    visibility: visible;
    opacity: 1;
    height: 23.34px;
    width: 23.34px;
    border-radius: 6px;
    position: absolute;
    bottom: 29.01px;
    right: 4.66px;
  }

  .profile__avatar-btn-img {
    position: absolute;
    top: 15%;
  }

  .profile__avatar-btn::after {
    content: "";
  }

  .profile__name {
    font-size: 20px;
    line-height: 1;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
    line-height: 1;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
  }

  .profile__edit-btn {
    margin: auto;
  }
}
